<% @questions.each do |question| %>
      <div class="container bg-light rounded" >
        <h5><%= question.title %></h5>

        <% if question.img_url == nil %>

        <%else %>
          <center><%= image_tag asset_path(question.img_url), width: 400 %></center>
        <%end %>

        <p><strong>Descrição: </strong></p>
        <p><%= question.description %></p>

        <div align="right">

          <button type="button" class="btn btn-light">
            <%= image_tag asset_path('up.png'), width: 18, height: 18 %>
          </button>

          <a><strong><%= question.points %></strong></a>

          <button type="button" class="btn btn-light">
            <%= image_tag asset_path('down.png'), width: 18, height: 18 %>
          </button>

          <a class="btn btn btn-light" href="">
            <%= image_tag asset_path('Answer.png'), width: 20, height: 20 %>
            <strong><%= link_to 'Responder', question ,  class: 'reply' %></strong>
          </a>

        </div>
      </div>
  <td><%= link_to '.', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<hr class="style1">
<% end %>