<!DOCTYPE html>
<html>
  <head>
    <title>SAPER - Sistema Academico de Perguntas e Respostas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('logo_ico.png') %>

  </head>

  <body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag asset_path('logo.png'), class: '', width: 40, height: 30 %>SAPER
        <% end %>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to new_question_path, class: 'nav-link' do %>
                  <%= image_tag asset_path('upload.png'), width: 18, height: 18 %>
                <% end %>

              </li>
            <% end %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= user_signed_in? ? current_user.email : 'Visitante' %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if user_signed_in? %>
                  <%= link_to 'Deslogar', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                <% else %>
                  <%= link_to 'Login', new_user_session_path, class: 'dropdown-item' %>
                  <%= link_to 'Cadastre-se', new_user_registration_path, class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="row mt-5">
        <div class="col-md-3 sidebar bg-dark">
          <div class="list-group text-light bg-dark">
                <span href="#" class="list-group-item cat-sidebar bg-dark border-0">
                    <span class="pull-right" id="slide-submenu">
                        <b class="fa fa-times ">Categorias</b>
                    </span>
                </span>

            <% @courses.each do |course| %>
              <%= link_to course, class: 'list-group-item texto-menu text-light bg-dark border-0' do %>
                <i class="fa fa-folder-open-o">
                  <%= image_tag asset_path(course.img), class: 'ico_sidebar' %> <%= course.title %>
                </i>
              <% end %>
            <% end %>

            
          </div>
        </div>

        <div id='site_foot' class="pb-1" >
          <b >&copy;2020 &nbsp;&nbsp;&raquo;&nbsp;&nbsp; Adriano Yasuda &nbsp;&nbsp;&raquo;&nbsp;&nbsp;versão 2.0</b>
        </div>

        <div class="col-md-7" >
          <div class="scroll-container square scrollbar-dusty-grass square thin">
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="/js/imgur.js"></script>
  </body>
</html>
